[submodule "src/fra2mo_description"]
	path = src/fra2mo_description
	url = https://github.com/GV-ing/fra2mo_description
	branch = real
[submodule "src/fra2mo_driver"]
	path = src/fra2mo_driver
	url = https://github.com/GV-ing/fra2mo_driver
